ADF/pipeline/metadata_pipeline_if_true_copy.json
{
	"name": "metadata_pipeline_if_true_copy",
	"properties": {
		"description": "comparing metadata of csv file with 2 records in ADLS with metadata of csv file with 10 records in Blob",
		"activities": [
			{
				"name": "Get Metadata ADLS file",
				"description": "getting metadata of csv file in ADLS",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ADLS_CSV",
						"type": "DatasetReference"
					},
					"fieldList": [
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Get Metadata Blob file",
				"description": "getting metadata of CSV file in blob storage",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Blob_CSV",
						"type": "DatasetReference"
					},
					"fieldList": [
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition check for metadata structure",
				"description": "case 1 : true (do copy from blob to adls)\ncase 2 : false (do nothing)",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata ADLS file",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Metadata Blob file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Metadata ADLS file').output.structure,activity('Get Metadata Blob file').output.structure)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data from blob to adls",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "FlattenHierarchy"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Blob_CSV",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "employee_data_Json",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-07-17T02:29:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}