ADF/pipeline/Web_pipeline_to_ADLS.json
{
	"name": "Web_pipeline_to_ADLS",
	"properties": {
		"activities": [
			{
				"name": "Web_XML",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://s2datasystems.medium.com/building-an-end-to-end-data-pipeline-on-azure-using-adf-databricks-synapse-and-power-bi-208ea233b91a"
				}
			},
			{
				"name": "Copy_web_data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Web_XML",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "web_api_data",
								"value": {
									"value": "@activity('Web_XML').output.Response",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "web_api_data",
									"type": "String"
								},
								"sink": {
									"name": "web_api_data",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_web_copy",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_copy_Web_CSV",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-07-31T01:29:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}